/* style sheet for sandbox.html */
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');

body{
  font-weight: 300;
  font-family: 'Moderustic', 'Helvetica Neue', 'Arial', sans-serif ;
  line-height: 1.2;
  font-size: 18px;
  color: #14243e;
  background-image: url(../images/leaves-multicoloured-print-25-in-architextures.jpg);
  /* background-blend-mode: lighten; */
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Asap Condensed', 'Helvetica Neue', 'Arial', sans-serif ;

}


h2,
h3,
p,
audio {
  margin: 0;
  padding: 20px;
}

h1 {
  margin: 0;
  padding: 10px;
}


nav li {
  font-size: 16px;
}

ul {
  margin: 0;
}


header {
  border: 2px solid rgb(141, 141, 141);
  border-radius: 15px;
}


section {
  background-color: rgba(214, 214, 214, 0.5);
  border: 2px solid rgb(141, 141, 141);
  border-radius: 15px;
}

nav {
  height: 200px;
  position: sticky;
  top: 0;
  background-color: rgba(214, 214, 214, 0.7);
  border: 2px solid rgb(141, 141, 141);
  border-radius: 15px;
}

a,
a:link {
  color: #3a6bb8;
}

a:visited {
  color: #6c6837;    
}

a:hover {
  color:#c7c710;
}

a:active {
  color:#721d53;
}


#box {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
}


body {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  grid-template-areas: 
    "masthead    masthead    masthead"
    "navigation  welcome      welcome";
}


header {
  grid-area: masthead;
}
  
nav {
  grid-area: navigation;
}

main {
  grid-area: welcome;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "hyperlinks"
    "grids"
    "videos"
    "lists"
    "photos"
    "audios";
}

#hyperlink-attempts {
  grid-area: hyperlinks;
}

#list-attempts {
  grid-area: lists;
}

#photo-attempts {
  grid-area: photos;
}

#audio-attempts {
  grid-area: audios;
}

#grid-attempts {
  grid-area: grids;
}

#video-attempts {
  grid-area: videos;
}

.gallery {
  grid-area: grids;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

figure {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
}

iframe {
  margin-left: 20px;
}

